<ul>
  <li class="text" *ngFor="let item of items | async">
    {{ item.name }}
  </li>
</ul>
<div class="box">
  <div class="label">New to web development?</div>
  <div class="value">
    Before going into the source structure, the next section shows how to fill
    out the HTML template for the product list, using the provided sample data.
    This should give you an idea how easy it is to modify and update the page
    dynamically.
  </div>
</div>
<div class="box">
  <div class="label">New to web development?</div>
  <div class="value">
    Before going into the source structure, the next section shows how to fill
    out the HTML template for the product list, using the provided sample data.
    This should give you an idea how easy it is to modify and update the page
    dynamically.
  </div>
</div>
