.label {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.4rem;
  //   color: #fff;
  line-height: 2.4rem;
  font-weight: 500;
  padding: 8px 16px;
  margin: 0;
  border-top: 2px solid #1976d2;
}

.value {
  padding: 8px 16px;
}

.box {
  background: white;
  margin-bottom: 1rem;
  //   padding: 8px 16px;
}
